.glav{
    width: 100%;
}
.imgblock{
    width: 300px;
    height: 300px;
    border: 3px solid #AAA8CF;
    border-radius: 20px;
}
.block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.block_{
    padding: 10px;
}



.h1{
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;

color: #AAA8CF;
padding: 40px 0;text-align: center;
}

.h2m{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #000000;
padding: 20px 0;
}

.h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    
    color: white;
    padding: 40px 0; 
    text-align: center;
}

.block_2{
    background-color: #AAA8CF;
   margin: 40px 0;
   border-radius: 20px ; 
}

.imgblock_2{
    width:300px;
    height: 350px;
    border: 3px solid white;
    border-radius: 20px;
}
.maimman{
    width: 30%;
}
.glav{
    width: 100%;
}
.woman{
    display: flex;
    flex-direction: reverse;
    padding: 0 5%;
}
.block5{
    display: flex;
    flex-direction: reverse;
}
.input_{
    width: 450%;
    height: 200px;
    display: flex;
    align-items: start;
    justify-content: start;
}
.user_{
    padding: 0 0 30px  30px ;
    
}
.user1{
    width: 100%;
}

.man{
    display: flex;
    flex-direction: reverse; 
    padding-left: 50%;
    
}

.h5{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #FFFFFF;
padding: 15px;
}

.woman_2{
    width: 496px;
height: 106px;
left: 221px;
top: 2197px;

background: #AAA8CF;
border-radius: 10px;
margin: 20px 10px;
}

.send{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #FFFFFF;
background: #AAA8CF;
border-radius: 10px;
width: 315px;
height: 50px;
cursor: pointer;
border: none;
margin: 20px 0 0 68%  ;

}

.send:hover{
    transform: scale(1.1);
    background-color: #AAA8CF;
    color:white;
}
.block5{
    padding: 0 40px;
}
.main{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 70px;
}
.block_main{
    padding: 10px  ;
}
@media (max-width:1200px ){
    .input_{
        width: 350%;
    }
}
@media (max-width:972px ){
    .input_{
        width:270%;
        height: 150px;
    }
    .imgblock{
        width: 250px;
        height: 250px;
    }
    .imgblock_2{
        width:250px;
        height: 250px;
    }
    .main{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
    }
    .man{
        display: flex;
        flex-direction: reverse; 
        padding-left: 30%;
        
    }
    .send{
        margin: 20px 0 0 60%  ;
}
.h1{
    font-size: 35px;
}
.h3{
    font-size: 35px;
}



}

@media (max-width:768px ){
    .user_{
        padding: 0;
    }
    .imgblock{
        width: 200px;
        height: 200px;
    }
    .imgblock_2{
        width:200px;
        height: 200px;
    }
    .send{
        margin: 20px 0 0 60%  ;
        width: 240px;
        height: 35px;
}
.h1{
    font-size: 30px;
}
.h3{
    font-size: 30px;
}
.user1{
    width: 70%;                                        
}
.man{
    display: flex;
    flex-direction: reverse; 
    padding-left: 10%;
    
}
.input_{
    width:175%;
    height: 80px;
}

}
@media (max-width:620px ){
    .input_{
        width:135%;
        height: 80px;
    }
    .send{
        margin: 20px 0 0 55%  ;
        width: 220px;
        height: 35px;
} 
.h5{
    font-size: 18px;
}  
.h2m{
    font-size: 17px;
}
    

}
@media (max-width:550px ){
    .input_{
        width:105%;
        height: 80px;
    }

        
        .imgblock{
            width: 160px;
            height: 200px;
        }
        .imgblock_2{
            width:160px;
            height: 160px;
        }
    
    
    .man{
        display: flex;
        flex-direction: reverse; 
        padding-left: 5%;
        
    }
    .send{
        width: 180px;
        height: 40px;
        margin: 20px 0 0 60%  ;
}
.h1{
    font-size: 25px;
}
.h3{
    font-size: 25px;
}
.h5{
    font-size: 16px;
    line-height: 16px;
}


}
@media (max-width:450px ){
    .h5{
        font-size: 15px;
        line-height: 15px;
    }
    .block5{
        padding: 0;
    }
    .input_{
        width: 70%;
        height: 40px;
        margin-right: 270px;
    }
    .send{
        width: 180px;
        height: 40px;
        margin: 10px 0 0 50%  ;
}
}
@media (max-width:350px ){
.h5{
    font-size: 12px;
    line-height: 12px;
}
.input_{
    width: 70%;
    height: 30px;
    margin-right: 190px;
}
.block5{
    padding: 0 10px;
}
.send{
    width: 180px;
    height: 40px;
    margin: 10px 0 0 35%  ;
}
}


















