.login_block {
    margin-top: 20vh;
}


.newPass_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000; 
    margin: 28px 0px;
}







input {
    margin: 10px;
    padding: 15px 20px 10px;
    border: 2px solid #A6A4A4;
    border-radius: 10px;
    width: 250px;
}

