.fon2 {
    width: 100%;
}
.h2{
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;

color: #FFFFFF;
position: absolute;
}
.fons {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.h1{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 30px;
text-align: justify;

color:black;
padding: 20px 100px;
}
li{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: justify;

color: #000000;

}
.h1_{
    padding: 20px 100px;
}


.h3{
    padding: 0 40px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: justify;

color: #000000;
}
.one1{
    display: flex;
    
    padding: 10px 80px;
}
.block{
    display: flex;
}

@media(max-width: 968px){
    
    .one{
        display: block;
    }
    
 
 }
 @media(max-width: 968px){
    
    
    
 
 }
 @media(max-width: 768px){
    .h2 {
        font-size: 29px;
    }
    .h1 {
        font-size: 21px;
        line-height: 21px;
        padding: 20px 23px;
    }
    .h3 {
        padding: 0 20px;
        font-size: 19px;
        line-height: 18px;
    }
    li {
        font-size: 18px;
        line-height: 20px;
    }

 }
 @media(max-width: 550px){
    .h2 {
    
            font-size: 17px;
            padding: 0 4px;
    }
    .h1 {
        font-size: 18px;
        line-height: 21px;
        padding: 20px 23px;
    }
    .h3 {
        padding: 0 10px;
        font-size: 15px;
        line-height: 15px;
    }
    li {
        font-size: 15px;
        line-height: 16px;
    }
    .one1{
        padding: 10px 20px;
    }
    .h1_ {
        padding: 20px 21px;
    }

 }





