.block {
    display: flex;
    justify-content: space-between;
    margin-left: 50vh;
}

.block__regist {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.regist__text {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
}
input {
    display: block;
    margin: 10px;
    justify-self: center;
    align-items: center;

    padding: 15px 20px 10px;
    border: 2px solid #A6A4A4;
    border-radius: 10px;
    width: 250px;
}

.get_text {
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Raleway';
    font-style: normal;
    background: #FE5029;
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;
    width: 300px;
    color: #fff;
}

.block__logo {
    background: linear-gradient( #E67763, #2F7864, #113E29);
    width: 596px;
    height: 1024px;
    left: 844px;
    top: 0px;
}

.logo {
    display: flex;
    position: absolute;
    width: 226px;
    height: 99.62px;
    left: 1029px;
    top: 123px;
    filter: drop-shadow(-1px 4px 10px #FFFFFF);
}

.logo__text {
    position: absolute;
    width: 362px;
    height: 38px;
    left: 1041px;
    top: 330px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;
}

.logo__icon {
    display: flex;
    justify-content: space-around;
    margin: 60vh 0vh 0 10vh;
}
.icon__item {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.get__logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 129px 10px 118px;
    gap: 10px;
    
    position: absolute;
    width: 361px;
    height: 64px;
    left: 1071px;
    top: 662px;
    
    background: #FE5029;
    border-radius: 10px;
}
