.block0{
   width: 100%;
   background-color: #AAA8CF;
}

.h1{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   color:white;
   padding: 20px 0;
}
.tovars {
   display: grid;
   grid-template-columns: 1fr ;
}

.block1{
   display: grid;
   grid-template-columns:65% 10% 35%  ;
   grid-template-rows: 100%;
   padding: 2% 0;
}

.block1, .block3 {
   grid-column-start: 3;
   grid-row: 1 / -1;
}

.vin {
   max-width: 100%;
   max-height: 70%;
   padding: 10px;
   border: 2px solid #AAA8CF;
   border-radius: 20px;
}


.h2{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;

   color: #0F0F0F;
   text-align: center;
}


.block2{
   padding: 20px;
   display: grid;
   
   grid-template-columns: 2fr  3fr 2fr  1fr;
}
.block2 ,.tittle{
   display: grid;
   grid-column-start: 2;
   grid-row: 1 / 2;
   margin-top: 5vh;
}
.block2, .countBox{
   display: grid;
   grid-column-start: 3;
}
.countBox {
   display: flex;
   height: 50px;
   margin-top: 20px;
}

.mines {
   border: 1px solid black;
   border-radius: 50%;
   width: 25px;
   height: 55%;
}

.plus {
   border: 1px solid black;
   border-radius: 50%;
   width: 25px;
   height: 55%;
}

.count {
   width: 21px;
   border: none;
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   color: #2D2D2D;
}

.priceRemove {
   display: flex;
   gap: 20px;
}

.line{
   width: 100%;
   height: 5px;
   background-color:#AAA8CF;
   border-radius: 5px;
}

.line1{
   margin: 0 30px;
   width: 6px;
   height:100%;
   background-color: #AAA8CF;
   border-radius: 5px;
}
.itog{
   margin: auto 0;
   width: 65%;
/* height: 30%; */

border: 2px solid #AAA8CF;
border-radius: 20px;
}

.itog h3{
   padding: 15px 0;
   text-align: center;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 40px;
   text-align: center;
   color: #AAA8CF;
}

.button{
   cursor: pointer;
   margin:55px auto ;
   width: 65%;
   border: 2px solid #AAA8CF;
   border-radius: 20px;
   background-color: white;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 39px;
   color: #AAA8CF;
}

.block3{
   padding: 20% ;
}

.h3{
   padding: 25% 0;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
color: #0F0F0F;
}

.h4{
   padding: 0 10px;
}

