.login_block {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.newPass_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000; 
    margin: 28px 0px;
}







input {
    margin: 10px;
    padding: 15px 20px 10px;
    border: 2px solid #A6A4A4;
    border-radius: 10px;
    width: 250px;
}


.block {
    display: flex;
    justify-content: space-between;
    margin-left: 50vh;
}

.logo__newPass{
    position: absolute;
    width: 226px;
    height: 99.62px;
    left: 55vh;
    top: 123px;
}

.block__newPass {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    margin-top: 30vh;
    
}

.newPass__text {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
}
input {
    display: block;
    margin: 10px;
    justify-self: center;
    align-items: center;

    padding: 15px 20px 10px;
    border: 2px solid #A6A4A4;
    border-radius: 10px;
    width: 250px;
}

.get_text {
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Raleway';
    font-style: normal;
    background: #FE5029;
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;
    width: 300px;
    color: #fff;
}

.newPass__block {
    background: linear-gradient( #E67763, #2F7864, #113E29);
    width: 596px;
    height: 1024px;
    left: 844px;
    top: 0px;
}

.newPass__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
    position: absolute;
    width: 414px;
    height: 230px;
    left: 950px;
    top: 230px;
}

.newPass__block__header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    
    color: #FFFFFF;
}

.newPass__block__text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    
    color: #FFFFFF;
}
.regist_text{
    background: #FE5029;
border-radius: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: center;
width: 300px;
height: 54px;
}

