*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    justify-content: center;


    width: 100%;
    height: 6vh;
    background-color: grey;
}
.nav__item {
    font-size: 18px;
    color: #fff;
    margin: 5px
}